*{
    width: 100%;
    padding: 0;
    margin: 0;
}

.head_content{
    padding: 30px 0;
    display: flex;
    align-items: center;
    background-color: purple;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
}
.header_item{
    display: flex;
    gap: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
}
.header_title{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}
.hero_content{
    display: flex;
    width: 100%;
    height: 500px;
}
.hero{
    background-color: beige;
}
.hero_left , .hero_right{
    width: 50%;
    height: 100%;
}
.hero_right_content{
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    max-height: 500px;
}
.hoveri{
    display: none;
    transition: 1s;
}
.imgi{
    display: block;
    transition-duration: 1s;
}
.hero_left:hover .imgi{
    display: none;
    transition-duration: 1s;
    visibility: transparent;
}
.hero_left:hover .hoveri{
    display: block;
    transition: 1s;
}
.imgi:hover .hoveri{
    display: block;
    transition: 1s;
}

